header{
    display: flex;
}
h2{ 
    margin: auto;
}
nav{
    padding: 5px; 
    background-color: black;
    margin-bottom: 5px;
    
}
li{
    display: inline;
}
a{
    color: white;
}
#contact{
    font-style: italic;
    border-bottom: solid rgb(215, 207, 207);
    padding-bottom: 20px;
    width: 98%; 
}
p {
    font-style: italic;
}
legend{
    font-style: italic;
}
label{
    font-style: italic;
}
input{
    font-style: italic;
    color: brown;
}
#couleur{
    font-style: italic;
    color: blue;
}
button{
    font-style: italic;
    color: aqua;
}
fieldset{
    border: 1px solid;
    width: 95%;
}
aside{
    display: flex;
    background: rgb(116, 113, 113);
    width: 30%
}

.colonne1{
    display: flex;
}
footer{
    padding: 5px;
    background-color: black;
    margin-top: 10px;
}
section{
    width: 70%;
}